@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    max-width: 1440px;
    margin: auto;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}


img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}
/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 1% 2% 1%;
}

header .logo_img {
    display: flex;
    max-width: 100px;
    margin-left: 2%;
}

header ul
{
    display: flex;
    list-style-type: none;
}

header li
{
    margin-right: 15px;
    font-weight: normal;
}

header a {
    text-decoration: none;
    color: #000000;
    position: relative;
    padding: 0 10px;
    font-size: 16px;
    letter-spacing: 0.5px;
}


nav a:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #0065FC;
}

nav a:before {
  right: 0;
  top: -51px;
}
nav a:hover {
  color: #0065FC;
}
nav a:hover:before {
  width: 100%;
}


/* RECHERCHE */

.search_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0% 3% 0% 3%;
}

.search_box h1 {
    margin-bottom: 5px;
}

.search_box p {
    margin-bottom: 10px;
}

.search_bar {
    display: flex;
    width: 100%;
}

.search_bar form{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2% 0%;
}

.search_bar i.fa-map-marker-alt{
    display: flex;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    padding: 15px;
}

.search_bar input {
    display: flex;
    border-left: none;
    border-right: none;
    padding: 14px;
    font-weight: bold;
    color: black;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    flex-grow: 1;
}

.search_bar input::placeholder {
    opacity: 1;
}

.search_bar input:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

.search_bar button {
    display: flex;
    background-color: #0065FC;
    border-radius: 0px 12px 12px 0px;
    border: 15px;
    color: white;
    padding: 15px;
    font-weight: bold;
}

.search_bar button:hover {
    background-color: #DEEBFF;
    color: black;
    cursor: pointer;
}

.search_filters_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sfb_responsive_box {
    display: none;
}

.filters_box {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    padding: 20px 20px 20px 0px;
    margin-left: 20px;
    font-weight: bold;
    height: 50px;
    width: auto;
    border-left: none;
}

.filters_box:hover{
    background-color: #f2f8ff;
    font-weight: bold;
    cursor: pointer;
}


.filters_box i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    padding: 12px;
    color: #0065FC;
}

.search_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.search_bottom i {
    display: flex;
    margin-right: 5px;
    padding: 5px 8px;
    border: #F2F2F2 2px solid;
    border-radius: 50px;
    color: #0065FC;
    font-size: 12px;
}

.search_bottom h6 {
    display: flex;
    font-weight: normal;
    font-size: medium;
}
  
form .fa-magnifying-glass {
    display: none;
}

/* SECTION 2 HEBERGEMENTS */

.hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 3% 0% 3%;
}

.leftbox {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.leftbox_top {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.leftbox_top h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.leftbox_precard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 2%;
}

.leftbox_precard a {
    text-decoration: none;
    color: black;
}

.leftbox_card {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: flex-start;
    border-radius: 20px;
    background: white;
    margin-bottom: 2%;
    -webkit-box-shadow: 3px 7px 15px 6px rgba(84,84,84,0.17); 
    box-shadow: 3px 7px 15px 6px rgba(84,84,84,0.17);
}

.leftbox_card:hover{
    -webkit-box-shadow: 3px 7px 15px 6px rgba(0,101,252,0.17); 
    box-shadow: 3px 7px 15px 6px rgba(0,101,252,0.17);

}

.leftbox_card_img {
    display: flex;
    width: 96%;
    margin: 2%;
}

.leftbox_card_img img {
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0px 0px;
}

.leftbox_card h2 {
    padding-left: 5%;
}

.leftbox_card h4 {
    padding-left: 5%;
    font-weight: normal;
}

.star_card {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.leftbox_card .star_card {
    margin: 2% 0% 5% 2%;
    padding-left: 4%;
}

.star_card i[data-active="true"] {
    color: #0065FC;
}

.star_card i[data-active="false"] {
    color: #d9d9d9
}

.leftbox_bottom {
    margin-left: 2%;
    padding-bottom: 2%;
    text-decoration: none;
    color: #000000;
}

.leftbox_bottom:hover {
    text-decoration: underline;
}

/* SECTION 2 - POPULAR BOX */

.rightbox {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.rightbox_title {
    display: flex;
    justify-content: space-between;
    margin: 5% 5% 0% 5%;
    align-items: center;
    height: 10%;
}

.pre_popularbox a {
    text-decoration: none;
    color: black;
}

.pre_popularbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 82%;
    margin: 0% 5% 0% 5%;
}

.popularbox {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background: white;
    -webkit-box-shadow: 3px 7px 15px 6px rgba(84,84,84,0.17); 
    box-shadow: 3px 7px 15px 6px rgba(84,84,84,0.17);
    height: 30%;
}

.popularbox:hover{
    -webkit-box-shadow: 3px 7px 15px 6px rgba(0,101,252,0.17); 
    box-shadow: 3px 7px 15px 6px rgba(0,101,252,0.17);

}

.popularbox_img {
    display: flex;
    align-items: center;
    width: 30%;
    margin: 2%;
}

.popularbox_img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.popularbox_title  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    margin: 4% 0 0 0;
}

.popularbox_title h4 {
    font-weight: normal;
}

.popularbox_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4% 0% 4% 2%;
    width: 70%;
}


.popularbox_content .star_card {
    height: 50%;
    align-items: flex-end;
}


/* SECTION 3 ACTIVITES */

.activites {
    display: flex;
    flex-direction: column;
    margin: 2% 3% 2% 3%;
}

.act_prebox {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 440px;   
    width: 100%;
    margin: 2% 0%;
}

.act_prebox a {
    text-decoration: none;
}

.act_card {
    display: flex;
    flex-direction: column;
    width: 23%;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 3px 7px 15px 6px rgba(84,84,84,0.17); 
    box-shadow: 3px 7px 15px 6px rgba(84,84,84,0.17);
}

.act_card:hover {
    -webkit-box-shadow: 3px 7px 15px 6px rgba(0,101,252,0.17); 
    box-shadow: 3px 7px 15px 6px rgba(0,101,252,0.17);
}

.act_img {
    display: flex;
    align-items: center;
    width: 100%;
}

.act_img img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.act_card_title {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.b1 .act_card_title,
.b4 .act_card_title {
    height: 15%;
}

.b2 .act_card_title,
.b6 .act_card_title {
    height: 25%;
}

.b3 .act_card_title,
.b5 .act_card_title {
    height: 35%;
}

.b1 .act_card_title,
.b4 .act_card_title {
    height: 15%;
}

.b1 .act_img,
.b4 .act_img {
    height: 85%;
}

.b2 .act_img,
.b6 .act_img {
    height: 75%;
}

.b3 .act_img,
.b5 .act_img {
    height: 65%;
}


.act_card h2 {
    color: black;
}

.b1,
.b4 {
    height: 440px;
    width: 23%;
}

.b2,
.b6 {
    height: 50%;
}

.b3,
.b5 {
    height: 40%;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    width: 100%;
    margin: 0% 0% 0% 0%;
}

.pre_footerbox {
    display: flex;
    padding: 3% 3%;
    width: 80%;
    justify-content: space-between;
}

.footerbox {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footerbox ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
}

.footerbox li {
    margin-top: 20px;
}

/* TABLETTE (992px)*/

@media screen and (max-width: 992px)
{
    /* ALL */

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    i .fa-star{
        font-size: 2px;
    }
    /* SECTION 1 RECHERCHE */

    .search_box {
        margin: 0% 0% 2% 2%;
    }

    .search_filters_box {
        gap: 10px;
    }

    .search_filters_box h2 {
        display: flex;
        width: 100%;
    }

    .filters_box {
        margin-left: 0px;
    }

    .search_bar i.fa-map-marker-alt{
        position: relative;
        right: -5px;
        padding: 16px;
    }


    form .fa-magnifying-glass {
        display: flex;
        width: 100%;
    }

    .search_bar button {
        border-radius: 12px;
        position: relative;
        left: -15px;
        padding: 16px;
    }
    .search_btn {
        display: none;
    }

    /* SECTION 2 HEBERGEMENTS */

    .hebergements {
        margin: 0% 0% 0% 0%;
        flex-direction: column-reverse;
    }

    .rightbox {
        flex-direction: column;
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 0px;
        padding: 2% 0%;
    }

    .rightbox_title {
        display: flex;
        justify-content: space-between;
        margin: 5%;
        align-items: center;
        height: 10%;
    }


    .pre_popularbox {
        justify-content: space-around;
        height: 82%;
        margin: 0% 5% 0% 5%;
    }

    .popularbox {
        margin-bottom: 5%;
    }

    .popularbox_img {
        display: flex;
        align-items: center;
        height: 200px;
        width: 50%;
        margin: 1%;
    }
    
    .popularbox_img img {
        border-radius: 20px 0px 0px 20px;
    }

    .popularbox_title {
        width: 90%;
    }

    .popularbox_title h2 {
        margin-bottom: 2%;
    }


    .popularbox_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0% 0% 4% 4%;
        width: 70%;
    }


    .leftbox {
        width: 100%;
        border-radius: 0px;
        background-color: white;
    }

    .leftbox_top {
        display: flex;
        justify-content: space-between;
        margin: 2%;
        align-items: center;
        height: 10%;
    }

    .leftbox_card {
        width: 40%;
        margin-bottom: 5%;
    }

    .leftbox_bottom {
        margin-left: 6%;
    }


    /* SECTION 3 ACTIVITES */

    .activites {
        margin: 5%;
    }

    .activites h1 {
        margin-left: 2%;
    }

    .act_prebox {
        height: 100%;
    }

    .act_card {
        height: 280px;
        width: 100%;
        margin-bottom: 5%;
    }

    .b1 .act_card_title,
    .b2 .act_card_title,
    .b3 .act_card_title,
    .b4 .act_card_title,
    .b5 .act_card_title,
    .b6 .act_card_title {
        height: 25%;
    }

    .b1 .act_img,
    .b2 .act_img,
    .b3 .act_img,
    .b4 .act_img,
    .b5 .act_img,
    .b6 .act_img {
        height: 75%;
    }


    /* FOOTER */

    footer {
        display: flex;
        flex-direction: row;
        background-color: #F2F2F2;
        width: 100%;
        margin: 0% 0% 0% 0%;
    }

    .pre_footerbox {
        padding: 3% 3%;
        width: 100%;
        justify-content: space-between;
    }
}

/* MOBILE (768px)*/

@media screen and (max-width: 768px)
{
    /* HEADER */

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 18px;
    }

    h4 {
        font-size: 14px;
    }

    .search_bottom h6 {
        font-size: 16px;
    }
    
    p {
        font-size: 14px;
    }

    i .fa-star{
        font-size: 1px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0% 0% 5% 0%;
    }

    header .logo_img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 2%
    }

    .logo_img img {
        width: 100%;
    }

    header li {
        display: flex;
        width: 50%;
        margin-right: 0px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        width: 100%;
    }

    nav li {
        justify-content: center;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 20px;
    }

    nav li:hover {
        border-bottom: 3px solid #0065FC;
    }

    nav a:before {
        display: none;
    }

    header a {
        justify-content: center;
    }

    nav a {
        font-size: 20px;
    }

    /* SECTION 1 SEARCH */

    .search_box {
        align-items: flex-start;
        margin: 10% 5% 2% 5%;
    }

    .search_box h1 {
        font-weight: bold;
    }

    .search_bar form {
        width: 100%;
        margin: 5% 0%;
    }

    .search_bar i.fa-map-marker-alt{
        padding: 16px;
    }
    .search_bar input {
        font-size: 15px;
        font-weight: bold;
    }


    .search_bar .fa-magnifying-glass {
        font-size: 15px;
    }

    .search_bottom {
        margin: 8% 0%;
        align-items: flex-start;
    }

    /* SECTION 2 HEBERGEMENTS */

    .leftbox_card {
        width: 90%;
    }

    .leftbox_card_img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 97%;
        height: 125px;
        margin: 1.5%;
    }

    .leftbox_card_img img {
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0px 0px;
    }

    .leftbox_bottom {
        margin-left: 6%;
        padding-bottom: 2%;
        text-decoration: none;
        color: #000000;
    }
    

    .leftbox_title {
        width: 80%;
    }

    .leftbox_top {
        display: flex;
        justify-content: space-between;
        margin: 5%;
        align-items: center;
        height: 10%;
    }

    .popularbox_img {
        display: flex;
        align-items: center;
        height: 150px;
        width: 30%;
        margin: 1%;
    }

    /* SECTION 3 ACTIVITES */

    .act_card {
        height: 200px;
        width: 100%;
        margin-bottom: 5%;
    }

    .popularbox_title {
        height: 30%;
        justify-content: space-between;
    }

    .popularbox_content {
        padding: 5% 5% 0% 2%;
    }

    .popularbox_img {
        width: 50%;
    }

    .b1 .act_img,
    .b2 .act_img,
    .b3 .act_img,
    .b4 .act_img,
    .b5 .act_img,
    .b6 .act_img {
        height: 70%;
    }

    .b1 .act_img img,
    .b2 .act_img img,
    .b3 .act_img img,
    .b4 .act_img img,
    .b5 .act_img img,
    .b6 .act_img img {
        height: 100%;
        width: 100%;
    }

    /* FOOTER */

    .pre_footerbox {
        flex-direction: column;
    }

    .footerbox {
        margin-bottom: 2%;
    }
}
